<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
  
    <div class="container">
    
        <header th:substituteby="layout/header :: header"></header>
      
        <header th:substituteby="layout/admin/header :: header"></header>
  
        <div class="row">
            <h1>Users</h1>
        </div>
        
        <div class="row">
            <a th:href="@{manage}">Create new</a>
        </div>
        
        <div class="row">
            <table class="table table-striped table-bordered">
              <tr th:each="u : ${allUsers}">
                <td th:text="${u.login}">Login</td>
                <td th:text="${u.name}">Name</td>
                <td th:text="${u.email}">Email</td>
                <td th:text="${u.admin}">Admin</td>
                <td th:text="${u.active}">Active</td>
                <td>
                  <span th:text="${u.leagues.size()}">2</span> leagues
                </td>
                <td><a th:href="@{manage(login=${u.login})}">manage user</a></td>
                <td><a th:href="@{resetpassword(login=${u.login})}" onclick="return confirm('Sure?');">reset password</a></td>
                <td><a th:href="@{delete(login=${u.login})}" onclick="return confirm('Sure?');">delete user</a></td>
              </tr>
            </table>
        </div>
        
        <div class="row">
            <a th:href="@{..}">Back to Admin Home</a>
        </div>
        
      </div> 

  </body>
  
</html>