
body {
    font-family: Verdana,Arial,Helvetica;
    font-size: 13px;
    background-color: #eee;
}

.page-header {
    border-bottom: 1px solid #fff;
    padding-left: 20px;
}


form#login {
    margin: 0 auto;
    max-width: 330px;
}

form#password {
    margin: 0 auto;
    max-width: 500px;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.upload-box {
	margin: 20px 0px;
	padding: 10px 10px;
	border: 1px #ddd solid;
}

.upload-box span
 {
	margin-right: 5px;
	display: inline-block;
}

.message {
    color: blue;
    text-align: center;
    border: 1px;
    border-color: blue;
    border-style: dashed;
    margin: 20px;
    font-size: 12px;
}

.message p {
    margin-top: 10px;
}

.error p {
    margin-top: 10px;
}

.error {
    color: red;
    text-align: center;
    border: 1px;
    border-color: red;
    border-style: dashed;
    margin: 20px;
    font-size: 12px;
}




/* ======================  */
/* ======================  */
/* SCOREBOARD              */
/* ======================  */
/* ======================  */


.navbar-form {
    padding:10px 0px
}

#scoreboard thead th {
    background-color: #303030;
    color: #f0f0f0;
}

#scoreboard tbody td {
    vertical-align: middle;    
}

#scoreboard tbody td.scoreboard_position {
    text-align: right;
}

#scoreboard tbody td.scoreboard_points {
    text-align: right;
}

#scoreboard>tbody>tr.scoreboard_pos1>td {
    background-color: #77d245;
}

#scoreboard>tbody>tr.scoreboard_pos2>td {
    background-color: #a7f37e;
}

#scoreboard>tbody>tr.scoreboard_pos3>td {
    background-color: #c7f39e;
}


/* -----------------  */
/* BET COMPUTED       */
/* -----------------  */



#bets tr.bet_computed td.bet_game_name,
#bets tr.bet_computed td.bet_game_date,
#bets tr.bet_computed td.bet_game_sideA,
#bets tr.bet_computed td.bet_game_scoreA,
#bets tr.bet_computed td.bet_game_scoreB,
#bets tr.bet_computed td.bet_game_sideB {
    background-color: #e0e0e0;
}

#bets tr.bet_computed.bet_game_winnerA td.bet_game_sideA,
#bets tr.bet_computed.bet_game_winnerB td.bet_game_sideB,
#bets tr.bet_computed.bet_bet_winnerA td.bet_bet_sideA,
#bets tr.bet_computed.bet_bet_winnerB td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_winnerA td.bet_game_scoreA,
#bets tr.bet_computed.bet_game_winnerB td.bet_game_scoreB,
#bets tr.bet_computed.bet_bet_winnerA td.bet_bet_scoreA,
#bets tr.bet_computed.bet_bet_winnerB td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_draw td.bet_game_sideA,
#bets tr.bet_computed.bet_game_draw td.bet_game_sideB,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_sideA,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_draw td.bet_game_scoreA,
#bets tr.bet_computed.bet_game_draw td.bet_game_scoreB,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_scoreA,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_scoreB {
    font-weight: bold;
}


#bets tr.bet_computed.bet_winlevel0 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel0 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_bet_sideB {
    background-color: #f4b190;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel0 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_bet_scoreB {
    background-color: #f4b190;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel1 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_bet_sideB {
    background-color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel1 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_bet_scoreB {
    background-color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel2 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_bet_sideB {
    background-color: #77d245;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel2 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_bet_scoreB {
    background-color: #77d245;
}


#bets tr.bet_computed td.bet_points {
    background-color: #303030;
    font-weight: bold;
    text-align: center;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_points {
    color: #f4b190;
}


#bets tr.bet_computed.bet_winlevel1 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_points {
    color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_points {
    color: #77d245;
}


/* -----------------  */
/* BET NOT COMPUTED   */
/* -----------------  */



#bets tr.bet_notcomputed td.bet_game_name,
#bets tr.bet_notcomputed td.bet_game_date,
#bets tr.bet_notcomputed td.bet_game_sideA,
#bets tr.bet_notcomputed td.bet_game_scoreA,
#bets tr.bet_notcomputed td.bet_game_scoreB,
#bets tr.bet_notcomputed td.bet_game_sideB,
#bets tr.bet_notcomputed td.bet_bet_sideA,
#bets tr.bet_notcomputed td.bet_bet_scoreA,
#bets tr.bet_notcomputed td.bet_bet_scoreB,
#bets tr.bet_notcomputed td.bet_bet_sideB,
#bets tr.bet_notcomputed td.bet_points {
    background-color: lemonchiffon;
}

#bets tr.bet_notcomputed.bet_bet_winnerA td.bet_bet_sideA,
#bets tr.bet_notcomputed.bet_bet_winnerB td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_winnerA td.bet_bet_scoreA,
#bets tr.bet_notcomputed.bet_bet_winnerB td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_sideA,
#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_scoreA,
#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_scoreB {
    font-weight: bold;
}

/* Matches */

#matchesTable {
	min-width: 100%;
	width: 100%;
	margin: 5px;
}

.match-row {
	width: 100%;
}

.match-row--team {
	width: 45%;
}

.team-name {
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;	
}
.team-away {
	text-align: left;
	padding-left: 10px;
}

.team-home {
	text-align: right;
	padding-right: 10px;
}

.match-score {
	min-width: 120px;
	width: 10%;
	font-size: 25px;
}

.text-center {
	text-align: center;
}