
body {
    font-family: Verdana,Arial,Helvetica;
    font-size: 13px;
    background-color: #eee;
}

.page-header {
    border-bottom: 1px solid #fff;
    padding-left: 20px;
}


form#login {
    margin: 0 auto;
    max-width: 330px;
}

form#password {
    margin: 0 auto;
    max-width: 500px;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.upload-box {
	margin: 20px 0px;
	padding: 10px 10px;
	border: 1px #ddd solid;
}

.upload-box span
 {
	margin-right: 5px;
	display: inline-block;
}

.message {
    color: blue;
    text-align: center;
    border: 1px;
    border-color: blue;
    border-style: dashed;
    margin: 20px;
    font-size: 12px;
}

.message p {
    margin-top: 10px;
}

.error p {
    margin-top: 10px;
}

.error {
    color: red;
    text-align: center;
    border: 1px;
    border-color: red;
    border-style: dashed;
    margin: 20px;
    font-size: 12px;
}




/* ======================  */
/* ======================  */
/* SCOREBOARD              */
/* ======================  */
/* ======================  */


.navbar-form {
    padding:10px 0px
}

#scoreboard thead th {
    background-color: #303030;
    color: #f0f0f0;
}

#scoreboard tbody td {
    vertical-align: middle;    
}

#scoreboard tbody td.scoreboard_position {
    text-align: right;
}

#scoreboard tbody td.scoreboard_points {
    text-align: right;
}

#scoreboard>tbody>tr.scoreboard_pos1>td {
    background-color: #77d245;
}

#scoreboard>tbody>tr.scoreboard_pos2>td {
    background-color: #a7f37e;
}

#scoreboard>tbody>tr.scoreboard_pos3>td {
    background-color: #c7f39e;
}


/* -----------------  */
/* BET COMPUTED       */
/* -----------------  */



#bets tr.bet_computed td.bet_game_name,
#bets tr.bet_computed td.bet_game_date,
#bets tr.bet_computed td.bet_game_sideA,
#bets tr.bet_computed td.bet_game_scoreA,
#bets tr.bet_computed td.bet_game_scoreB,
#bets tr.bet_computed td.bet_game_sideB {
    background-color: #e0e0e0;
}

#bets tr.bet_computed.bet_game_winnerA td.bet_game_sideA,
#bets tr.bet_computed.bet_game_winnerB td.bet_game_sideB,
#bets tr.bet_computed.bet_bet_winnerA td.bet_bet_sideA,
#bets tr.bet_computed.bet_bet_winnerB td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_winnerA td.bet_game_scoreA,
#bets tr.bet_computed.bet_game_winnerB td.bet_game_scoreB,
#bets tr.bet_computed.bet_bet_winnerA td.bet_bet_scoreA,
#bets tr.bet_computed.bet_bet_winnerB td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_draw td.bet_game_sideA,
#bets tr.bet_computed.bet_game_draw td.bet_game_sideB,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_sideA,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_draw td.bet_game_scoreA,
#bets tr.bet_computed.bet_game_draw td.bet_game_scoreB,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_scoreA,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_scoreB {
    font-weight: bold;
}


#bets tr.bet_computed.bet_winlevel0 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel0 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_bet_sideB {
    background-color: #f4b190;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel0 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_bet_scoreB {
    background-color: #f4b190;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel1 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_bet_sideB {
    background-color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel1 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_bet_scoreB {
    background-color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel2 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_bet_sideB {
    background-color: #77d245;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel2 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_bet_scoreB {
    background-color: #77d245;
}


#bets tr.bet_computed td.bet_points {
    background-color: #303030;
    font-weight: bold;
    text-align: center;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_points {
    color: #f4b190;
}


#bets tr.bet_computed.bet_winlevel1 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_points {
    color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_points {
    color: #77d245;
}


/* -----------------  */
/* BET NOT COMPUTED   */
/* -----------------  */



#bets tr.bet_notcomputed td.bet_game_name,
#bets tr.bet_notcomputed td.bet_game_date,
#bets tr.bet_notcomputed td.bet_game_sideA,
#bets tr.bet_notcomputed td.bet_game_scoreA,
#bets tr.bet_notcomputed td.bet_game_scoreB,
#bets tr.bet_notcomputed td.bet_game_sideB,
#bets tr.bet_notcomputed td.bet_bet_sideA,
#bets tr.bet_notcomputed td.bet_bet_scoreA,
#bets tr.bet_notcomputed td.bet_bet_scoreB,
#bets tr.bet_notcomputed td.bet_bet_sideB,
#bets tr.bet_notcomputed td.bet_points {
    background-color: lemonchiffon;
}

#bets tr.bet_notcomputed.bet_bet_winnerA td.bet_bet_sideA,
#bets tr.bet_notcomputed.bet_bet_winnerB td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_winnerA td.bet_bet_scoreA,
#bets tr.bet_notcomputed.bet_bet_winnerB td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_sideA,
#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_scoreA,
#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_scoreB {
    font-weight: bold;
}

.smallColumn {
	width: 65px;
	max-width: 65px;
	text-align: center;
}

.todayBetHeader {
	max-width: 80px;
	text-align: center;
}

.betsColumn {
	width: 130px;
	max-width: 130px;
	text-align: center;
}

.todayBetColumn {
	text-align: center;
	display:table-cell;
    width:100px;
}

.betsTable {
	display:table;
    table-layout:fixed;
	border: 0px;
	padding: 0px;
}

/* Matches */

#matchesTable {
	min-width: 100%;
	width: 100%;
}

#matchesTable tbody td {
    vertical-align: middle;
    border: 0px;
    padding: 1px;
}

.roundName {
	text-align: center;
	font-size: 18px;
}

.match-row {
	width: 100%;
}

.match-row--team {
	width: 45%;
}

.team-name {
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
}
.team-away {
	text-align: left;
	padding-left: 10px;
}

.team-home {
	text-align: right;
	padding-right: 10px;
}

.match-score {
	min-width: 120px;
	width: 10%;
	font-size: 25px;
}

.text-center {
	text-align: center;
}

[class*=" euro-flag-"], [class^=euro-flag-] {
    display: inline-block;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(/images/flags_sprite_empty_64x64.png);
}

.team-flag {
   	background-size: 230px 506px;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}

.euro-flag-Bélgica {background-position: 0 10%;}
.euro-flag-Portugal {background-position: 0 80%;}
.euro-flag-Hungría {background-position: 50% 40%;}
.euro-flag-Austria {background-position: 75% 0;}
.euro-flag-Islandia {background-position: 75% 40%;}
.euro-flag-Republica-de-Irlanda {background-position: 100% 40%;}
.euro-flag-Rumania {background-position: 25% 80%;}
.euro-flag-Albania {background-position: 100% 100%;}
.euro-flag-Suiza {background-position: 50% 90%;}
.euro-flag-Francia {background-position: 25% 30%;}
.euro-flag-Rusia {background-position: 50% 80%;}
.euro-flag-Gales {background-position: 50% 100%;}
.euro-flag-Eslovaquia {background-position: 75% 90%;}
.euro-flag-Inglaterra {background-position: 75% 20%;}
.euro-flag-Ucrania {background-position: 25% 100%;}
.euro-flag-Polonia {background-position: 100% 70%;}
.euro-flag-Irlanda-del-Norte {background-position: 50% 70%;}
.euro-flag-Alemania {background-position: 100% 30%;}
.euro-flag-República-Checa {background-position: 25% 20%;}
.euro-flag-Turquía {background-position: 0 100%;}
.euro-flag-Croacia {background-position: 100% 10%;}
.euro-flag-España {background-position: 25% 90%;}
.euro-flag-Italia {background-position: 25% 50%;}
.euro-flag-Suecia {background-position: 100% 90%;}

[class*=" world-flag-"], [class^=world-flag-] {
    display: inline-block;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(/images/mundial2018-flags-72x44.png);
}
.world-team-flag {
   	background-size: 72px 1408px;
    width: 72px;
    height: 44px;
    vertical-align: middle;
}
.world-flag-AR  {background-position: 0%   0.000%;}
.world-flag-AU  {background-position: 0%   3.226%;}
.world-flag-BE  {background-position: 0%   6.452%;}
.world-flag-BR  {background-position: 0%   9.678%;}
.world-flag-CH  {background-position: 0%  12.904%;}
.world-flag-CO  {background-position: 0%  16.130%;}
.world-flag-CR  {background-position: 0%  19.356%;}
.world-flag-GER {background-position: 0%  22.582%;}
.world-flag-DK  {background-position: 0%  25.808%;}
.world-flag-EG  {background-position: 0%  29.034%;}
.world-flag-ENG {background-position: 0%  32.260%;}
.world-flag-ES  {background-position: 0%  35.486%;}
.world-flag-FR  {background-position: 0%  38.712%;}
.world-flag-HR  {background-position: 0%  41.938%;}
.world-flag-IR  {background-position: 0%  45.164%;}
.world-flag-IS  {background-position: 0%  48.390%;}
.world-flag-JP  {background-position: 0%  51.616%;}
.world-flag-KR  {background-position: 0%  54.842%;}
.world-flag-MA  {background-position: 0%  58.068%;}
.world-flag-MX  {background-position: 0%  61.294%;}
.world-flag-NG  {background-position: 0%  64.520%;}
.world-flag-PA  {background-position: 0%  67.746%;}
.world-flag-PE  {background-position: 0%  70.972%;}
.world-flag-PL  {background-position: 0%  74.198%;}
.world-flag-PT  {background-position: 0%  77.424%;}
.world-flag-RU  {background-position: 0%  80.650%;}
.world-flag-SA  {background-position: 0%  83.876%;}
.world-flag-SE  {background-position: 0%  87.102%;}
.world-flag-RS  {background-position: 0%  90.328%;}
.world-flag-SN  {background-position: 0%  93.554%;}
.world-flag-TN  {background-position: 0%  96.780%;}
.world-flag-UY  {background-position: 0% 100.006%;}