<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="layout/header :: head"></head>

<body>

    <header th:substituteby="layout/header :: header"></header>

    <div class="container mt-3">

        <div th:substituteby="layout/messages :: messages"></div>

        <div class="row">
            <h1>Forgot password</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="password" class="form-horizontal" role="form" th:action="@{/forgot-password-confirm}" method="post" th:object="${userInfo}">

                    <div class="form-group">
                        <label for="emailInput" class="control-label" th:text="#{forgotpassword.form.email}">Email:</label>
                        <input id="emailInput" type="text" th:field="*{email}" name="email" required="required" class="form-control" autofocus="autofocus" />

                    </div>


                    <div class="form-group">
                        <p>Enter your account email and we will send you instructions to reset your password.</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</body>

</html>