<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
  
    <header th:substituteby="layout/header :: header"></header>
  
    <div class="container">
    
        <h1><span th:text="#{bets.title}">Manage bets for league</span> "<span th:text="${league.getName(#locale)}">league</span>"</h1>
        
        <div th:substituteby="layout/messages :: messages"></div>
        
        <div class="upload-box">
            <form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
                <input type="hidden" th:value="${league.id}" name="leagueId" />
                <span th:text="#{bets.upload.bets}">Upload</span>
                <span><input type="file" name="file" /></span>
                <p><input type="submit" th:value="#{bets.upload.submit}" /></p>
            </form>
        </div>

		<p><a th:href="@{/scoreboard}"><span th:text="#{bets.go.back}">Back to scoreboard</span></a></p>
        
        <form th:action="@{save}" th:object="${participation}" method="post">
          
          <fieldset>
          
            <input type="hidden" th:field="*{login}" />
            <input type="hidden" th:field="*{leagueId}" />
          
            <div>
            
              <table id="bets" class="table table-striped table-bordered" >
              	<thead>
              		<tr>
              			<th><span th:text="#{bets.header.round}">Round</span></th>
              			<th><span th:text="#{bets.header.date}">Date</span></th>
              			<th></th>
              			<th></th>
              			<th></th>
              			<th><span th:text="#{bets.header.match.sideA}">Score A</span></th>
              			<th><span th:text="#{bets.header.match.sideB}">Score B</span></th>
              		</tr>
              	</thead>
                <tr th:each="g : ${allGames}">
                  <td>
                    <input type="hidden" th:field="*{betsByGame[__${g.id}__].id}" />
                    <input type="hidden" th:field="*{betsByGame[__${g.id}__].betTypeId}" />
                    <input type="hidden" th:field="*{betsByGame[__${g.id}__].gameId}" />
                    <input type="hidden" th:field="*{betsByGame[__${g.id}__].id}" />
                    <span th:text="${g.round.getName(#locale)}">round of game</span>
                  </td>
                  <td>
                    <span th:text="${g.date} ? ${#dates.format(g.date,#messages.msg('dates.format'))} : '-'">2012-06-02</span>
                  </td>
                  <td th:text="${g.getName(#locale)}">name of game</td>
                  
                  
                  <td th:if="${g.gameSideA}">
                  	<span th:text="${g.gameSideA.getName(#locale)}">Game side a</span>
               	  </td>
               	  <td th:if="${g.gameSideB}">
                  	<span th:text="${g.gameSideB.getName(#locale)}">Game side b</span>
               	  </td>
               	  
                  <td th:unless="${g.gameSideA}">
                    <select th:field="*{betsByGame[__${g.id}__].gameSideAId}">
                      <option value="">Undefined</option>
                      <option th:each="gs : ${allGameSides}" th:value="${gs.id}" th:text="${gs.getName(#locale)}">game side</option>
                    </select>
                  </td>
                  <td th:unless="${g.gameSideB}">
                    <select th:field="*{betsByGame[__${g.id}__].gameSideBId}">
                      <option value="">Undefined</option>
                      <option th:each="gs : ${allGameSides}" th:value="${gs.id}" th:text="${gs.getName(#locale)}">game side</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" th:field="*{betsByGame[__${g.id}__].scoreA}" />
                  </td>
                  <td>
                    <input type="number" th:field="*{betsByGame[__${g.id}__].scoreB}" />
                  </td>
                </tr>
              </table>
              
            </div>
          
          </fieldset>
          
          <input type="submit" th:value="#{submit.save}" value="Save" />
          
        </form>
		<br />        
       	<p><a th:href="@{/scoreboard}"><span th:text="#{bets.go.back}">Back to scoreboard</span></a></p>
        
    </div>
    
  </body>
  
</html>