<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="layout/header :: head"></head>

<body>

    <header th:substituteby="layout/header :: header"></header>

    <div class="container">

        <div th:substituteby="layout/messages :: messages"></div>

        <div class="container">
            <h1>Reset password</h1>

            <div class="row">
                <form class="form-horizontal" role="form" th:action="@{/resetpassword-confirm}" method="post" th:object="${userInfo}">
                    <input type="hidden" th:field="*{login}" />
                    <input type="hidden" th:field="*{email}" />
                    <div class="form-group">
                        <p>A new password will be sent to your email</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>