<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
    
    <header th:substituteby="layout/header :: header"></header>
    
    <div class="container">
    
        <div class="row">
            <h2 th:text="#{scoreboard.title}">SCOREBOARD</h2>
            <h4 th:text="#{scoreboard.title.league(${league.getName(#locale)})}">League: one league</h4>
        </div>

        <div class="row">
          <form class="navbar-form" role="form" th:if="${showLeagueSelector}" th:action="@{/selectScoreboard}" method="post" th:object="${leagueSelector}">
            <div class="form-group">
                <select class="form-control" th:field="*{leagueId}">
                  <option th:each="l : ${allLeagues}" th:value="${l.id}" th:text="${l.getName(#locale)}">a league</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="#{scoreboard.league.form.submit}">View</button>
            </div>
          </form>
        </div>
        
        <div class="row">
          <form class="navbar-form" role="form" th:action="@{/selectScoreboard}" method="post" th:object="${leagueSelector}">
            <input class="form-control" type="hidden" th:field="*{leagueId}" />
            <div class="form-group">
                <select class="form-control" th:field="*{roundId}">
                  <option value="" th:text="#{scoreboard.form.round.allrounds}">All rounds</option>
                  <option th:each="r : ${allRounds}" th:value="${r.id}" th:text="${r.getName(#locale)}">a league</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="#{scoreboard.form.round.submit}">View</button>
            </div>
          </form>
        </div>
        
        
        <div class="row">
          <table id="scoreboard" class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th th:text="#{scoreboard.header.position}">Pos</th>
                <th th:text="#{scoreboard.header.name}">Name</th>
                <th th:text="#{scoreboard.header.points}">Points</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="sc : ${scoreboardEntries}">
                <td class="scoreboard_position">
                  <span th:text="${sc.position} ?: ''">1</span>
                </td>
                <td class="scoreboard_name">
                  <span th:text="${sc.user.name}">name</span>
                </td>
                <td class="scoreboard_points">
                  <span th:text="${sc.points}">points</span>
                </td>
                <td class="scoreboard_actions">
                  <a th:href="@{'/bets/' + ${league.id} + '/' + ${sc.user.login}}" th:text="#{scoreboard.viewbets}" class="btn btn-xs btn-default">view bets</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">  
          <a th:href="@{/password}" th:text="#{nav.changepassword}">Change password</a>
        </div>
        
        <div class="row">
          <a th:if="${user.admin}" th:href="@{/admin}" th:text="#{nav.admin}">Go to Admin</a>
        </div>        
        
        
    </div> 
    
  </body>
  
</html>