<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
    
    <header th:substituteby="layout/header :: header"></header>
    
    <div class="container">
    
        <div class="row">
            <h2 th:text="#{scoreboard.title}">SCOREBOARD</h2>
            <h4 th:text="#{scoreboard.title.league(${league.getName(#locale)})}">League: one league</h4>
        </div>
        
        <div th:substituteby="layout/messages :: messages"></div>
        
        <div class="row">
          <form class="navbar-form" role="form" th:if="${showLeagueSelector}" th:action="@{/selectScoreboard}" method="post" th:object="${leagueSelector}">
            <div class="form-group">
                <select class="form-control" th:field="*{leagueId}">
                  <option th:each="l : ${allLeagues}" th:value="${l.id}" th:text="${l.getName(#locale)}">a league</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="#{scoreboard.league.form.submit}">View</button>
            </div>
          </form>
        </div>
        <div class="row">
	        <table th:if="${todayEvents} and ${#lists.size(todayEvents)>0}" id="matchesTable" class="table" th:each="roundInfo : ${todayEvents.roundsInformation}">
	        	<tr>
	        		<td colspan="4" class="roundName"><span th:text="${roundInfo.round.getName(#locale)}">Groups</span></td>
	        	</tr>
				<tr class="match-row" th:each="g : ${roundInfo.games}"
					th:with="gsA=${g.gameSideA},gsB=${g.gameSideB}, gScA=${g.scoreA},gScB=${g.scoreB}">
					<td class="match-row--team team-home">
						<span class="team-name" th:text="${gsA.getName(#locale)}">Belgium</span>
						<span class="team-flag" th:class="'team-flag euro-flag-'+${#strings.replace(gsA.name,' ','-')}"></span>
					</td>
					<td class="match-score text-center">
						<span th:if="${gScA != null}" th:text="${gScA}">1</span> - <span
							th:if="${gScB != null}" th:text="${gScB}">0</span>
					</td>
					<td class="match-row--team team-away">
						<span class="team-flag" th:class="'team-flag euro-flag-'+${#strings.replace(gsB.name,' ','-')}"></span>
						<span class="team-name" th:text="${gsB.getName(#locale)}">Republic of Ireland</span>
					</td>
				</tr>
			</table>
		</div>
        
        <div class="row">
          <form class="navbar-form" role="form" th:action="@{/selectScoreboard}" method="post" th:object="${leagueSelector}">
            <input class="form-control" type="hidden" th:field="*{leagueId}" />
            <div class="form-group">
                <select class="form-control" th:field="*{roundId}">
                  <option value="" th:text="#{scoreboard.form.round.allrounds}">All rounds</option>
                  <option th:each="r : ${allRounds}" th:value="${r.id}" th:text="${r.getName(#locale)}">a league</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="#{scoreboard.form.round.submit}">View</button>
            </div>
          </form>
        </div>

		<div class="row">
          <table id="scoreboard" class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th class="smallColumn" th:text="#{scoreboard.header.position}">Pos</th>
                <th th:text="#{scoreboard.header.name}">Name</th>
                <th class="smallColumn" th:text="#{scoreboard.header.points}">Points</th>
                <th th:if="${todayEvents} and ${#lists.size(todayEvents.roundsInformation) > 0}" class="todayBetHeader" 
                	th:each="roundInfo : ${todayEvents.roundsInformation}" th:text="${roundInfo.round.getName(#locale)}">Groups</th>
                <th th:unless="${betsAllowed}" class="betsColumn"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="sc : ${scoreboardEntries}">
                <td class="scoreboard_position">
                  <span th:text="${sc.position} ?: ''">1</span>
                </td>
                <td class="scoreboard_name">
                  <span th:text="${sc.user.name}">name</span>
                </td>
                <td class="scoreboard_points">
                  <span th:text="${sc.points}">points</span>
                </td>
                
                <td th:if="${todayEvents} and ${#lists.size(todayEvents.roundsInformation)}>0" th:each="roundInfo : ${todayEvents.roundsInformation}">
                	<table class="betsTable" th:if="${roundInfo.scoreMatters}">
	                	<tr>
	                		<td th:each="g : ${roundInfo.games}" th:with="userBets=${roundInfo.scoreMatterBets[__${sc.user.login}__]}" class="todayBetColumn">
	                			<span th:if="${userBets} != null and ${userBets.containsKey(g.id)} and ${userBets[__${g.id}__].scoreA} != null and ${userBets[__${g.id}__].scoreB} != null" 
	                				th:text="${userBets[__${g.id}__].scoreA} + ' - ' + ${userBets[__${g.id}__].scoreB}">1 - 0</span>
	               			</td>
	                	</tr>
                	</table>
                	<table class="betsTable" th:unless="${roundInfo.scoreMatters}" >
                		<tr>
                			<td th:each="i : ${#numbers.sequence(0, roundInfo.maxSideMattersBets - 1, 1)}"
                				th:with="userBets=${roundInfo.sideMatterBetsWinners[__${sc.user.login}__]}" class="todayBetColumn">
                				
                				<span  th:if="${userBets} != null and ${#lists.size(userBets) > i}" th:text="${userBets[__${i}__].getName(#locale)}">Belgium</span>
                				
               				</td>
                		</tr>
                	</table>
                </td>
                
                <td class="scoreboard_actions betsColumn" th:unless="${betsAllowed}" >
                  <a th:href="@{'/bets/' + ${league.id} + '/' + ${sc.user.login}}" th:text="#{scoreboard.viewbets}" class="btn btn-xs btn-default">view bets</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
		<div class="row" th:if="${betsAllowed}">  
          <a th:href="@{'/bets/' + ${league.id} + '/'}" th:text="#{scoreboard.sendbets}">Send bets</a>
        </div>
        <div class="row">  
          <a th:href="@{/password}" th:text="#{nav.changepassword}">Change password</a>
        </div>
        <div class="row">  
          <a th:href="@{/logout}" th:text="#{logout}">Logout</a>
        </div>
        
        <div class="row">
          <a th:if="${user.admin}" th:href="@{/admin}" th:text="#{nav.admin}">Go to Admin</a>
        </div>        
        
        
    </div> 
    
  </body>
  
</html>