<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
  
    <header th:substituteby="layout/header :: header"></header>
  
    <div class="container">
  
        <header th:substituteby="layout/admin/header :: header"></header>
        
        <div class="row">
            <h2>Competitions</h2>
        </div>
        
        <div class="row">
            <a th:href="@{manage}">Create new</a>
        </div>
        
        <div class="row">
            <table class="table table-striped table-bordered">
              <tr th:each="c : ${allCompetitions}">
                <td th:text="${c.getName(#locale)}">Liga BBVA</td>
                <td th:text="${c.active}">Active</td>
                <td>
                  <span th:text="${c.betTypes.size()}">2</span> bet types
                  <a th:href="@{${c.id} + '/bettype/list'}">manage bet types</a>
                </td>
                <td>
                  <span th:text="${c.rounds.size()}">4</span> rounds
                  <a th:href="@{${c.id} + '/round/list'}">manage rounds</a>
                </td>
                <td>
                  <span th:text="${c.gameSides.size()}">12</span> teams/players
                  <a th:href="@{${c.id} + '/gameside/list'}">manage teams/players</a>
                </td>
                <td>
                  <span th:text="${c.games.size()}">22</span> games
                  <a th:href="@{${c.id} + '/game/list'}">manage games</a>
                </td>
                <td><a th:href="@{manage(id=${c.id})}">manage competition</a></td>
                <td><a th:href="@{delete(id=${c.id})}" onclick="return confirm('Sure?');">delete competition</a></td>
              </tr>
            </table>
        </div>
        
        <div class="row">
            <a th:href="@{..}">Back to Admin Home</a>
        </div>
    
    </div> 

  </body>
  
</html>